header .smiley-image {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: no-repeat center/80% url("../images/smiley.png");
}

header, nav {
    background-color: #0275d8;
    color: white
}

header h1 {
    display: inline-block;
}

header a {
    color: #FFFFFF;
}

header a:focus, header a:hover {
    color: #3397EB;
}

header .user-info {
    float: right;
    margin: 20px 10px 0px 0px;
}

nav .nav-tabs {
    margin-left: 10px;
}

.nav-tabs>li {
    margin-right: 4px;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs>li {
    margin-bottom: 0px;
}

.nav-tabs>li>a {
    padding: 10px 20px 10px 20px;
    background-color: #3397EB;
    color: #FFFFFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color: #FFFFFF;
    color: #0C89F0;
}
